page-check-login {
   
    .block {
        text-align: center;
      
        /* May want to do this if there is risk the container may be narrower than the element inside */
        white-space: nowrap;
        margin-top : 50%;
      }
       
      /* The ghost, nudged to maintain perfect centering */
      .block:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
      }
      
      /* The element to be centered, can also be of any width and height */ 
      .centered {
        display: inline-block;
        vertical-align: middle;
        width: 300px;
      }


    .list-grow-animation {
        animation : moveWithTransform 1s linear infinite;
    }

    @keyframes moveWithTransform{
        0%{
            transform: translate3d(0, 0, 0);
        }

        50%{
            transform: translate3d(0, 20px, 0);
        }

        100%{
            transform: translate3d(0, 0, 0);
        }
    }
}
