page-collections,
.collections {

  ion-item.catagory {
    padding: 0;
    border-radius: 3px;

    .item-inner {
      position: relative;
      padding: 40px 20px;
      background: rgba(0, 0, 0, 0.6);

      .bookmark-icon {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      h3 {
        margin: 8px 0;
        font-size: 1.5em;
      }

      .catagory{
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      
    }
  }

  
}
