<!--
  Generated template for the UserPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="primary" hideBackButton >
    <ion-title>การชำระเงิน</ion-title>
    <ion-buttons end>
      <button  ion-button (click)="exit()">
          <ion-icon name="exit"> ออกจากระบบ</ion-icon>
      </button> 
    <!--<button  ion-button (click)="goToBookmarks()">
      <ion-icon name="bookmark"></ion-icon>
    </button> 
     <button  ion-button (click)="goToSearch()">
      <ion-icon name="search"></ion-icon>
    </button>  -->
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class=" common-bg">
  <ion-slides pager class="pager-inner slideshow">
  
    <ion-slide *ngFor="let slide of slides">
      <img src="{{ slide.src }}" alt="" width="100%" height="100%">
    </ion-slide>

  </ion-slides>

  <ion-card>

    <ion-list *ngFor="let user_data of user_data">
      <form [formGroup]="authForm" >
        <ion-item>
          <ion-title class="title_submit">ยึนยันการชำระเงิน </ion-title><span style="color:red;">ช่องที่มี * จำเป็นต้องกรอกข้อมูลให้ครบถ้วน</span>
        </ion-item>
        <ion-item >
            <ion-label style="color:black">ชื่อ - นามสกุล<span style="color:red;">*</span></ion-label>
              <ion-input formControlName="user_name" *ngIf="name" disabled="true" value="{{name}}"  type="text" text-right placeholder="กรุณากรอกชื่อ - นามสกุล"></ion-input>
              <ion-input formControlName="user_name" *ngIf="!name"   type="text" text-right placeholder="กรุณากรอกชื่อ - นามสกุล"></ion-input>
        </ion-item>
        <ion-item >
            <ion-label style="color:black">วันที่จากสลิปการโอนเงิน<span style="color:red;">*</span></ion-label>
              <ion-input type="" ></ion-input>
              <ion-datetime formControlName="user_date"  class="date" displayFormat="DD/MM/YYYY " pickerFormat="DD/MM/YYYY" text-center placeholder="กรุณากรอกวันที่"></ion-datetime>
        </ion-item>

        <ion-item >
            <ion-label style="color:black">เวลาจากสลิปการโอนเงิน<span style="color:red;">*</span></ion-label>
              <ion-input type="" ></ion-input>
              <ion-datetime formControlName="user_time" class="date" displayFormat="HH : mm" pickerFormat="HH:mm" text-center placeholder="กรุณากรอกเวลา"></ion-datetime>
        </ion-item>
      
        <ion-item>
          <ion-label style="color:black">จำนวนเงิน<span style="color:red;">*</span></ion-label>
          <ion-input formControlName="user_monney"  type="number" text-right placeholder="กรุณากรอกจำนวนเงิน"></ion-input>
        </ion-item>
    
         <ion-item>
            <ion-label style="color:black">รหัสผู้แนะนำ<span style="color:red;">*</span></ion-label>
            <ion-input formControlName="advisor_code" *ngIf="user_activation" disabled="true" value="{{user_activation}}" type="text" text-right placeholder="กรุณากรอกรหัสผู้แนะนำ"></ion-input>
            <ion-input formControlName="advisor_code" *ngIf="!user_activation"  type="text" text-right placeholder="กรุณากรอกรหัสผู้แนะนำ"></ion-input>
          </ion-item>
          <!-- 
        <ion-item>
            <ion-label >หลักฐานการโอน</ion-label>
           
        </ion-item>
        <ion-item>
          {{lastImage}}
          <button ion-button color="secondary" (click)="upload()">เลือกรูปภาพ</button>
        </ion-item>
        
       <ion-item>
        <input formControlName="user_img" type="file" value="" (click)="upload()"/>
       
        </ion-item> 
        
        <ion-item>
          <ion-label >ภาพตัวอย่าง</ion-label>
        </ion-item>
        <ion-item >
            <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
            <h3 [hidden]="lastImage !== null"></h3>
        </ion-item>-->
        
        <br><br>
        <button ion-button  full (click)="onSubmit(authForm.value)">ยืนยันการทำรายการ</button>
        <button ion-button  full (click)="refresh_user()">รีเฟรช</button>
      </form>
    </ion-list>
    
 
    
  </ion-card>


 
  
  
</ion-content>

